h1,h2,h3 {
  font-family: Merriweather, Optima, Candara, Calibri, Arial, sans-serif;
}
body {
  font-family: Lato, Optima, Candara, Calibri, Arial, sans-serif;
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
