<footer>
  {{ partial "foot_custom.html" . }}
  {{ with .Site.Params.footer }}
  <hr/>
    <div class="footer-social">
    <a href="https://bsky.app/profile/justinyang.me" target="_blank" rel="noopener noreferrer" aria-label="Bluesky">
      <i class="fa-brands fa-bluesky fa-2x"></i>
    </a>
    <a href="https://orcid.org/0000-0003-2881-4906" target="_blank" rel="noopener noreferrer" aria-label="ORCID">
      <i class="ai ai-orcid fa-2x"></i>
    </a>
    <a href="https://scholar.google.com/citations?user=o-MsbBYAAAAJ" target="_blank" rel="noopener noreferrer" aria-label="Google Scholar">
      <i class="ai ai-google-scholar fa-2x"></i>
    </a>
    <a href="https://osf.io/qz9xm/" target="_blank" rel="noopener noreferrer" aria-label="Open Science Framework">
      <i class="ai ai-osf fa-2x"></i>
    </a>
    <a href="https://www.medrxiv.org/search/author1%3AJustin%2BC%2BYang%2B" target="_blank" rel="noopener noreferrer" aria-label="medRxiv">
      <i class="ai ai-biorxiv fa-2x"></i>
    </a>
    <a href="https://github.com/yangjustinc" target="_blank" rel="noopener noreferrer" aria-label="Github">
      <i class="fa-brands fa-github fa-2x"></i>
    </a>
    <a href="https://www.linkedin.com/in/yangjustinc" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
      <i class="fa-brands fa-linkedin fa-2x"></i>
    </a>
  </div>
  {{ replace . "{Year}" now.Year | markdownify }}
  {{ end }}
</footer>
</body>
</html>
