<link href="//cdn.bootcss.com/highlight.js/9.12.0/styles/github-gist.min.css" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.9.2/css/academicons.min.css" rel="stylesheet">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Justin C Yang, PhD">
<meta name="twitter:site" content="@Justin C Yang">
<meta name="twitter:description" content="Psychiatric epidemiologist at University College London">
<meta name="twitter:image" content="https://justinyang.me/twitter_card.jpg">
<meta name="twitter:image:alt" content="Justin C Yang, PhD">

{{ template "_internal/twitter_cards.html" . }}